.nav {
  width: 850px;
  margin: 0 auto;
  /* float: right; */
}
.nav-box {
  width: 900px;
  /* margin: 0 auto; */
  /* float: right; */
}
.nav-list {
  width: 850px;
  margin: 20px auto;
}
.nav-top {
  width: 850px;
  margin: 10px auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.el-form--inline .el-form-item {
  float: left;
}
.bubtn {
  width: 100%;
  height: 40px;
  margin-top: 41px;
}
.bubtn a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
}
